body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: "Neon";
    font-style: normal;
    font-weight: 400;
    src: local("Monoton"), local("Monoton-Regular"), url("./module/fonts/Neon.woff") format('woff');
}

@font-face {
    font-family: "Number";
    font-style: normal;
    font-weight: 400;
    src: url("./module/fonts/Number.ttf");
}

.hidden {
    display: none;
}

.user {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
}

.timer {
    font-family: "Number", Verdana;
    font-size: 3em;
    position: absolute;
    top: 16px;
    left: 16px;
    color: white;
    text-shadow: 2px 2px 2px red;
}

.health {
    font-family: "Number", Verdana;
    font-size: 3em;
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: white;
    text-shadow: 2px 2px 2px red;
    background-color: rgba(0, 140, 140, 0.5);
    padding: .25em;
    border-radius: 0.5em;
}

.game_ui__bg_a {
    position: absolute;
    bottom:  2em;
    left: 1em;
    height: 90%;
    z-index: 0;
}

.game_ui__bg_b {
    position: absolute;
    top: 2em;
    right: 2em;
    height: 30%;
    z-index: 0;
}


.game_ui__bg__big_ring,
.game_ui__bg__light,
.game_ui__bg__middle_ring,
.game_ui__bg__octopus_1,
.game_ui__bg__octopus_2,
.game_ui__bg__octopus_3,
.game_ui__bg__octopus_4,
.game_ui__bg__ripple,
.game_ui__bg__road,
.game_ui__bg__small_ring {
    position: absolute;
    z-index: 0;
}
.game_ui__bg__ripple {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.game_ui__bg__small_ring {
    bottom: 43%;
    right: 3%;
    height: 33%;
}
.game_ui__bg__middle_ring {
    bottom: 29%;
    right: 2%;
    height: 54%;
}
.game_ui__bg__big_ring {
    right: 2%;
    bottom: 13%;
    height: 80%;
}
.game_ui__bg__road {
    right: 3%;
    bottom: 19%;
    height: 51%;
}
.game_ui__bg__light {
    top: -17%;
    left: 6%;
    height: 90%;
    max-height: 50em;
    transform: rotateZ(-19deg);
}
.game_ui__bg__octopus_1,
.game_ui__bg__octopus_2,
.game_ui__bg__octopus_3,
.game_ui__bg__octopus_4 {
    bottom: 0;
    height: 80%;
    max-height: 30em;
}
.game_ui__bg__octopus_1 {
    left: 4%;
}
.game_ui__bg__octopus_2 {
    left: 0;
}
.game_ui__bg__octopus_3 {
    left: 20%;
}
.game_ui__bg__octopus_4 {
    left: 32%;
}


.game__notification {
    position: absolute;
    bottom: 1em;
    left: 0;

    font-family: "Number", Verdana, serif;
    font-size: 2em;
    font-weight: 100;

    display: block;
    width: 100%;
    padding: 0 0;
    margin: 0 auto;

    text-decoration: none;
    white-space: normal;
    letter-spacing: 3px;
    text-align: center;
    pointer-events: none;

    border: none;
    color: #0AB80A;
    text-shadow: 0px 0px 2px black, 0px 0px 5px white;
}