.pass__container {
    position: absolute;
    bottom: 1em;
    right: 1em;

    display: block;
    text-align: right;

    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

.pass__key {
    display: inline-block;
    height: 4em;
    width: 4em;
    padding: 0;
    margin-left: .5em;

    text-align: center;
    box-sizing: border-box;

    background-color: transparent;
    background-image: url('../images/128x128/card.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}
